<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title>ArcGIS JavaScript Tutorials: Display point, line, and polygon graphics</title>
<style>
  html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>
  <link rel="stylesheet" href="https://js.arcgis.com/4.11/esri/css/main.css">
<script src="https://js.arcgis.com/4.11/"></script>
  
  <script>
require([
  "esri/Map",
  "esri/views/MapView",
  "esri/Graphic",
  "esri/geometry/Point",
  "esri/symbols/SimpleMarkerSymbol",
  "esri/geometry/Polyline",
  "esri/symbols/SimpleLineSymbol",
  "esri/geometry/Polygon",
  "esri/geometry/Extent",
  "esri/symbols/SimpleFillSymbol"
], function(Map, MapView,
      Graphic, Point, SimpleMarkerSymbol,
      Polyline, SimpleLineSymbol,
      Polygon, Extent, SimpleFillSymbol
) {
  
  var map = new Map({
    basemap: "topo-vector"
  });
    
  var view = new MapView({
    container: "viewDiv",  
    map: map,
    zoom: 3
  });
  

  // Create attributes
  var attributes = {
    Name: "I am a Region",  // The name of the pipeline
    Park: "Griffith Park",  // The owner of the pipeline
    City: "Los Angeles"  // The length of the pipeline
  };
  
  // Create popup template
  var popupTemplate = {
    title: "{Name}",
    content: "I live in <b>{Park}</b> in the city of <b>{City}</b>."
  };

  // Create a polygon geometry
  var extent = new Extent({
    
            // autocasts as new Extent()
            xmin: -84.243317,
            ymin: 21.169193,
            xmax: -75.04117,
            ymax: 30.322289,
            spatialReference: 4326
          
  });
  
//  Middle East    41.137081, 28.780227     28.934843, 48.239208
// Europe     59.084463,4.23123    52.82251,20.086696
// Asia    36.594309, 70.724632    31.724374, 77.000019
// North America    30.322289, -84.243317    21.169193,-75.04117

  // Create a symbol for rendering the graphic
  var fillSymbol = new SimpleFillSymbol({
    color: [227, 139, 79, 0],
    outline: {
      color: [0, 0, 0],
      width: .3
    }
  });

  // Add the geometry and symbol to a new graphic
  var polygonGraphic = new Graphic({
    geometry: extent,
    symbol: fillSymbol,
    //attributes: attributes,
    //popupTemplate: popupTemplate
  });

  // Add the graphic to the view
  view.graphics.add(polygonGraphic);

});</script>
</head>
<body>
  <div id="viewDiv"></div>
</body>
</html> 